
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; 
}


header {
    background-color: #006747;
    color: white;
    text-align: center;
    padding: 40px 20px;
    position: relative;
}

header h1 {
    margin: 10px 0;
    font-size: 3.5em;
    opacity: 0; 
    animation: fadeIn 2s forwards;
}

header p {
    font-size: 1.2em;
    font-weight: bold;
}

.highlight {
    color: #f4c542;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.sobre {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre h2 {
    color: #006747;
    margin-bottom: 15px;
}


.zueira {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.zueira h2 {
    color: #006747;
}

.zueira .imagem {
    text-align: center;
    margin: 20px 0;
}

.zueira img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.3s ease;
}


.zueira img:hover {
    transform: scale(1.05);
}


.btn-mundial {
    display: none;
    padding: 12px 25px;
    background-color: #f4c542;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-mundial:hover {
    background-color: #e3b036;
}

.zueira:hover .btn-mundial {
    display: inline-block;
}


footer {
    background-color: #006747;
    color: white;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}
